* {
  box-sizing: border-box;
}
a {
  text-decoration-line: none;
  color: #555555;
}

#app {
  background-image: linear-gradient(#d1eaa3 40%, #efee9d 100%, white 0%);
  width: 1337px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  /* grid:' myArea myArea myArea myArea myArea myArea myArea myArea myArea myArea myArea . . . '; */
  margin: -8px 0 0 0;
  padding: 0;
  /* grid-template: 'left middle right end'; */
}
#app .logo1 {
  /* z-index: 10; */
  width: 70px;
  /* margin-top: 10px; */
  margin-left: 30px;
}
#app .logo1 img {
  width: 100%;
}
.menu {
  font: 20px/1.5 "Open Sans", sans-serif;
  font-weight: 500;
  margin: 0 0 0 400px;
  padding: 0;
  list-style: none;
}

.menu a {
  display: block;
  padding: 25px;
  color: #555555;
  text-decoration: none;
  /* margin: 0 15px; */
  /* -webkit-transition: 0.3s; */
  transition: 0.5s;
}

.menu li {
  display: block;
  float: left;
  position: relative;
  /* background: #222; */
  color: #fff;
  min-width: 100px;
}
.menu a:hover {
  color: #000000;
}

.menu li ul {
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  /* width: 188px; */
  position: absolute;
  left: 0;
  top: 79px;
  padding: 0;
}
.sub-drop1 {
  margin-left: -40px;
}
.sub-drop2 {
  margin-left: 15px;
  width: 231px;
}
.sub-drop2::before {
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  height: 0;
  width: 0;
  position: absolute;
  left: 15px;
  top: -15px;
}
.sub-drop3 {
  margin-left: 15px;
  width: 230px;
}
.sub-drop3::before {
  content: "";
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid white;
  height: 0;
  width: 0;
  position: absolute;
  left: 15px;
  top: -15px;
}
.sub-drop4 {
  margin-left: -40px;
}
.sub-drop5 {
  margin-left: -35px;
}
.sub-drop6 {
  margin-left: -15px;
}
.menu li ul li {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  background: rgb(255, 255, 255);
  transition: background 0.2s;
}

.menu li ul li:hover {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  background-image: linear-gradient(#d1eaa3 0% 20%, #efee9d 50% 100%, white 0%);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.sub-drop {
  z-index: 10;
}

/* start section one */
.container {
  /* margin-top: 100px; */
  width: 1337px;
  position: relative;
  /* transition: 1s ease; */
  display: flex;
}
.item {
  width: 1337px;
  position: relative;
  height: 100vh;
  text-align: start;
  /* margin-top: 100px; */
  /* align-items:flex-start; */
}
.item img {
  width: 1337px;
  height: 100%;
  object-fit: cover;
}
.text {
  width: 1337px;
}
.item1 {
  width: 1337px;
  object-fit: cover;
  /* background-color: white; */
  padding-top: 90px;
  /* height: 100vh; */
  background-image: linear-gradient(#d1eaa3 0%, #efee9d 0% 11%, white 50% 100%);
  height: 100vh;
}
.type1 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Playfair Display", serif;
  width: max-content;
  color: #abc085;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px;
  margin: 0px 0 0 410px;
}

.type1::before,
.type1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type1::before {
  background-image: linear-gradient(
    #f1f0a9,
    #f2f1ae,
    #f3f2b5,
    #f5f4bd,
    #f5f4c1,
    #f6f6c8
  );
  animation: typewriter1 6s steps(20) 1s forwards;
}

.type1::after {
  width: 0.125em;
  background: #1482e5;
  animation: typewriter1 6s steps(20) 1s forwards,
    blink 750ms steps(20) forwards;
}
@keyframes typewriter1 {
  0% {
    left: 0%;
  }
  40% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes blink {
  0% {
    background: transparent;
  }
}
@keyframes blink {
  50% {
    background-color: white;
  }
}
/* end Writinganimation */

/* start Writinganimation */
.type2 {
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  font-family: "Playfair Display", serif;
  position: relative;
  width: max-content;
  color: #9bad79;
  border: 2px solid white;
  border-radius: 5px;
  padding: 15px;
  margin: 30px 0 0 290px;
}
.type2::before,
.type2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.type2::before {
  background-image: linear-gradient(
    #faf9de,
    #fafae2,
    #fcfced,
    #fdfdf4,
    #fefef9,
    #fefefb
  );
  animation: typewriter2 6s steps(31) 1s forwards;
}
.type2::after {
  width: 0.125em;
  background: #1482e5;
  animation: typewriter2 8s steps(31) 1s forwards,
    blink 750ms steps(31) forwards;
}
@keyframes typewriter2 {
  40% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
/* end Writinganimation */
.contactus1 {
  font-size: xx-large;
  margin-right: 50px;
  font-family: "Playfair Display", serif;
}
.contactus {
  display: flex;
  margin: 30px 20px 0 20px;
  border: 1px solid white;
  border-radius: 12px;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  color: #9bad79;
  z-index: 1;
}
.envelopee,
.altt,
.ff {
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  /* color: #9bad79; */
  display: inline-block;
  position: relative;
  animation: jump 0.6s infinite linear;
}
.ff {
  color: #1878f3;
  font-size: 60px;
  /* margin-bottom: 50px; */
}
.altt {
  font-size: 50px;
  color: #319559;
}
.envelopee {
  color: #1772bb;
  font-size: 50px;
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: -0.1em;
  }
  70% {
    top: -0.2em;
  }
  100% {
    top: 0;
  }
}
.btn {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 130, 251);
  text-align: center;
  font-size: x-large;
  width: 160px;
  height: 60px;
  padding-top: 15px;
  border-radius: 5px;
  position: absolute;
  margin-left: -1260px;
  margin-top: 530px;
}
.btn:hover {
  background-color: rgb(0, 96, 185);
}
.btn1,
.btn2 {
  margin-left: -760px;
}
.caption {
  position: absolute;
  /* margin-top: -450px; */
  /* margin-left: 100px; */
  /* color: rgb(199, 199, 199); */
  width: 350px;
  height: 470px;
  font-family: "Playfair Display", serif;
  background-color: rgba(175, 175, 175, 0.6);
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
  margin-top: -600px;
  font-size: 40px;
  color: #ffffff;
  text-shadow: 2px 2px 8px black;
  transition: box-shadow 0.7s;
  transition-timing-function: ease;
}
.caption:hover {
  box-shadow: 0 12px 40px 0 rgba(255, 255, 255, 0.9);
}
/* .slide:hover {
    animation-play-state: paused;
}
.slide {
    animation: slide 55s ease infinite;
}
@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(0%);
    }
    28.7% {
        transform: translateX(-100.5%);
    }
    37.5% {
        transform: translateX(-100.5%);
    }
    46.25% {
        transform: translateX(-200.4%);
    }
    55% {
        transform: translateX(-200.4%);
    }
    63.75% {
        transform: translateX(-300.4%);
    }
    72.5% {
        transform: translateX(-300.4%);
    }
    81.25% {
        transform: translateX(-400.5%);
    }
    90% {
        transform: translateX(-400.5%);
    }
    100% {
        transform: translateX(0);
    }
} */
/* .mySlides{
  width: 400px;
} */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* end section one */

/* start section tow */
.section_2 {
  background-image: linear-gradient(
    white 5%,
    #d4e9ad 20% 25%,
    #ebe9a8 35% 80%,
    white 100%
  );
}
.latestEvent .header1 {
  margin-top: 70px;
  margin-left: 560px;
  font-size: 40px;
}
.latestEvent .header1 span {
  color: #9bad79;
}

.BriefSummary1 {
  display: grid;
  height: 370px;
  width: 1000px;
  margin-left: 160px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 30px 20px 30px 20px;
  border: 1px solid rgba(92, 90, 90, 0.9);
  border-radius: 5px;
}
.year {
  font-size: x-large;
  margin-left: 80px;
  margin-top: 130px;
  grid-row: 1/3;
}
.BriefSummary1 h1 {
  font-size: xx-large;
}
.tex1 {
  width: 550px;
  font-size: larger;
}
.infoEvent1 {
  display: grid;
  height: 90px;
  width: 180px;
  gap: 0px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 0;
}
.fa-calendar-alt,
.fa-map-marker-alt {
  font-size: x-large;
  color: #9bad79;
}
.data1 {
  font-size: x-large;
}
/*  */

.BriefSummary2 {
  margin-top: 30px;
  display: grid;
  height: 370px;
  width: 1000px;
  margin-left: 160px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding: 30px 0px 30px 20px;
  border: 1px solid rgba(92, 90, 90, 0.9);
  border-radius: 5px;
}
.year {
  font-size: x-large;
  margin-left: 80px;
  margin-top: 130px;
  grid-row: 1/3;
}
.BriefText .header3 {
  font-size: xx-large;
  width: 700px;
  padding-left: 27px;
}
.tex2 {
  width: 600px;
  font-size: larger;
  padding-left: 27px;
}
.infoEvent2 {
  padding-left: 27px;
  display: grid;
  height: 90px;
  width: 210px;
  gap: 0px;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin: 0;
}
.fa-calendar-alt,
.fa-map-marker-alt {
  font-size: x-large;
  color: #9bad79;
}
.data1 {
  font-size: x-large;
}
/* end section tow */

/* start section three */
.section_3 {
  background-image: linear-gradient(
    white 5%,
    #d4e9ad 20% 25%,
    #ebe9a8 35% 80%,
    white 100%
  );
}
.header-1 {
  margin-top: 70px;
  margin-left: 560px;
  font-size: 40px;
  color: #9bad79;
}
.subprograms {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  width: 1050px;
  margin-left: 110px;
}
.program {
  height: 520px;
  width: 350px;
  border-radius: 5px;
}
.program img {
  height: 250px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: box-shadow 0.7s;
  transition-timing-function: ease;
}
#im:hover + #text {
  box-shadow: 0 6px 30px 0 rgba(92, 90, 90, 0.9);
  border: 0.1px solid transparent;
}
.program .captionprog {
  height: 265px;
  margin-top: -12px;
  border: 0.1px solid rgb(224, 223, 223);
  border-radius: 5px;
  transition: box-shadow 0.7s;
  transition-timing-function: ease;
}
.program .captionprog:hover {
  box-shadow: 0 6px 30px 0 rgba(92, 90, 90, 0.9);
  border: 1px solid transparent;
}
.captionprog .textprog {
  font-size: 22px;
}
.captionprog .textprog:hover {
  color: #88a654;
}
.captionprog .spanprog:hover {
  color: #88a654;
}
.captionprog .textprog,
.captionprog .spanprog,
.captionprog .btnprog {
  /* margin-left: 10px; */
  margin: 10px 10px 20px 10px;
}
.captionprog .btnprog {
  margin-top: 20px;
  display: block;
  padding: 10px 0px 10px 0px;
  width: 140px;
  /* border-radius: 5px; */
}
.captionprog .spanprog,
.captionprog .btnprog {
  font-size: large;
  font-weight: bold;
  color: #000000;
}
.captionprog .btnprog1 {
  margin-top: 50px;
}
/* end section three */

/* start section four */
.grid_sec_4 {
  display: grid;
  /* grid-template-columns: auto auto; */
  /* gap: 10px; */
  margin: 50px 110px 50px 110px;
  min-height: 520px;
  box-shadow: 0 6px 30px 0 rgba(171, 194, 232, 0.9);
  grid-template-columns: repeat(2, 1fr);
}
.addres_sec_4 {
  margin-top: 90px;
  margin-bottom: 40px;
  font-size: 40px;
}
.adress_span_sec_4 {
  color: #9bad79;
}
.p_sec_4 {
  font-size: 22px;
  width: 500px;
  text-align: justify;
}
.icons_sec_4 {
  width: 100%;
  text-align: center;
}
.fa-facebook-square,
.fa-twitter-square,
.fa-whatsapp-square {
  color: #9bad79;
  font-size: 30px;
  margin-right: 25px;
  margin-top: 30px;
}
.btn_sec_4 {
  color: white;
  background-color: rgb(0, 130, 251);
  text-align: center;
  font-size: x-large;
  width: 160px;
  height: 60px;
  position: absolute;
  padding-top: 15px;
  /* padding: 10px 20px; */
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 35px;
}
.btn_sec_4:hover {
  background-color: rgb(0, 96, 185);
}
/* end section four */
/* start footer */
footer {
  margin-top: 200px;
  height: 500px;
  width: 100%;
  /* margin-bottom: 100px; */
}
.block_fr {
  width: 100%;
  text-align: center;
  /* margin-bottom: 100px; */
  /* background-image: url(images/undraw_online_connection_6778.svg); */
  /* background-repeat: no-repeat; */
  /* height: 750px; */
  /* background-position: center; */
  /* background-position: bottom; */
}
.block_fr h1 {
  font-size: 50px;
  background-image: linear-gradient(
    white 5%,
    #aae63a 20% 25%,
    #e9e33c 35% 80%,
    white 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  margin-bottom: -190px;
  width: 500px;
  height: 70px;
  margin-left: 470px;
}
.block_fr h1 {
  animation: moving 2s ease infinite;
  animation-duration: 1.5s;

  /* transition: background-image .9s; */
}
@keyframes moving {
  0% {
    background-image: linear-gradient(
      /* white 5% ,
            white 20% 25% , */ #aae63a,
      #e7e126
    );
  }
  25% {
    background-image: linear-gradient(
      #e7e126,
      /* white 20% 25%,  
            white 35% 80% , */ #aae63a
    );
  }
  50% {
    background-image: linear-gradient(
      #aae63a,
      #e7e126 /* white 35% 80% ,
            white 100% */
    );
  }
  75% {
    background-image: linear-gradient(
      /* white 5%, */ #aae63a,
      #e7e126 50% 100% /* white 100% */
    );
  }
  100% {
    background-image: linear-gradient(
      /* white 5%,
            white 20% 25%,  */ #aae63a,
      #e7e126 50% 100%
    );
  }
}
.block_fr .img_fr {
  height: 600px;
  width: 100wh;
  opacity: 0.7;
}
.a_fr {
  width: 250px;
  position: absolute;
  text-align: center;
  /* justify-content: center; */
  background-color: rgb(212, 211, 211);
  display: block;
  width: 250px;
  height: 70px;
  font-size: 35px;
  margin-left: 560px;
  margin-top: -100px;
  padding: 15px;
  /* margin-bottom: 100px; */
  color: white;
  background-color: rgb(0, 130, 251);
  border-radius: 5px;
}
.a_fr:hover {
  background-color: rgb(0, 96, 185);
}
.end_fr {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 200px;
  height: 120px;
  background-color: rgb(46, 46, 46);
}
.header_fr {
  margin-top: 13px;
  font-size: 12px;
  color: #abc085;
}
.icon_fr {
  margin-top: 33px;
  padding: 10px 5px 10px 5px;
  width: 300px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  /* gap: 5px; */
}
.facebook_fr,
.mailto_fr,
.twitter_fr,
.phone_fr {
  font-size: 25px;
}
.fff {
  color: #1878f3;
}
.envelopeee {
  color: #1772bb;
}
.twitterrr {
  color: #2aa9e0;
}
.alttt {
  color: #319559;
}
.div_p_fr {
  height: 50px;
  text-align: center;
}
.p_fr {
  font-size: 20px;
  font-weight: 600;
  color: #383838;
}
/* end footer */
